body {
    font-family: sans-serif;
    overflow: hidden;
    background-color: transparent;
    display: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

.dialog {
    width: 600px;
    height:120%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("https://i.imgur.com/JSGZjaN.png");
    background-repeat:   no-repeat;
    background-position: top left;  
    background-color: transparent;
    background-size: 620px 440px;
    margin: 120px 50px 40px 40px;

}

form {
    background-color: transparent;
}

input[type=text] {
    width: 80%;
    padding: 7px;
    background-color: transparent;
    text-decoration-color: black;
	text-align: right;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 7px;
    outline: transparent;
}

button {
    display: block;
    margin: 30px 5px 90px 90px;
    padding: 10px;
    border: none;
    color: #fff;
    width: 60%;
    background-size: 100px 100px;
    background-repeat:   no-repeat;
    background-position: center center; 
    background-color: transparent;  
    background-image: url("https://i.imgur.com/Te4BHxX.png");
}
